@import './variables.scss';

.hero {
  position: relative;
  width: 100%;

  padding-bottom: 130%;
  max-height: 500px;
  height: auto;

  @media all and (min-width: $tablet-size) {
    padding-bottom: 30%;
    max-height: 500px;
    height: auto;
  }

  &__text-area {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translate(0, -50%);
    color: rgba(255, 255, 255, .8);
    pointer-events: none;
    letter-spacing: 2px;
  }

  &__title {
    margin: 0 0 8px;
    font-weight: 500;
    font-size: 31px;
    line-height: 31px;


    &--fade-1 {
      animation: titleFade 0.5s ease-out forwards;
    }

    &--fade-2,
    &--fade-3,
    &--fade-4 {
      transform: translateY(100%);
      display: inline-block;
      animation: titleFade 0.5s ease-out forwards 0.5s;
      opacity: 0;
    }

    &--fade-3 {
      animation-delay: 1s
    }

    &--fade-4 {
      animation-delay: 1.5s
    }

    &--sub {
      font-size: 14px;
      letter-spacing: 2.5px;
      line-height: 20px;
      font-weight: 300;
      margin: 0;
    }
  }

  .torch {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-image: url("/static/hero-bg.JPG");
    background-size: cover;
    background-position: bottom;

    &__text {
      font-size: 20px;
      color: #000;
      text-align: right;
    }

    &__light {
      position: absolute;
      right: 50%;
      top: 50%;
      transform: translate(50%, -50%);
      width: 200%;
      height: 200%;
      transition: transform 0.3s ease-out;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.7) 50%);

      @media all and (min-width: $tablet-size) {
        background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.9) 20%);
      }
    }
  }
}

.container {
  .hero & {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    pointer-events: none;
  }
}

@keyframes titleFade {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  10% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.about {
  display: block;

  @media all and (min-width: $tablet-size) {
    display: flex;
  }

  &__text {
    padding: 0 15px;
    font-size: 15px;
    font-weight: 300;
    color: #777;
    line-height: 1.7;
    box-sizing: border-box;
  }
}

.main-projects {
  &__title {
    margin-bottom: 50px;
  }

  &__text {
    font-size: 15px;
    font-weight: 300;
    color: #777;
    line-height: 1.7;
    padding: 0 15px;
    max-width: 620px;
    margin: 0 auto 50px;
    text-align: left;

    @media all and (min-width: $tablet-size) {
      text-align: center;
    }
  }

  &__row {
    display: block;

    @media all and (min-width: $tablet-size) {
      display: flex;
    }

    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
  }
}

.project {

  &--padded {
    padding: 15px 0;

    @media all and (min-width: $tablet-size) {
      padding: 0 15px;
    }
  }
}